<div class="row">
    <div class="col-lg-2 sidebar-filter">
        <div class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
        {{#each listeHotel}}
            <div class="col-lg-4 text-center">
                <div class="card card-cascade narrower">
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="/images/default.pg" style="width: 318px;" alt="Card image cap">
                    </div>
                    <a class="btn btn-grey"><i class="glyphicon glyphicon-chevron-right chevron"></i> </a>
                    <div class="card-block">
                        <h5 id="{{_id}}" class="red-text">{{nom}} <i class="glyphicon glyphicon-eye-open"></i></h5>
                        <h4 class="card-title">{{ville}}</h4>
                        <p class="card-text"></p>
                        <a href="{{website}}" class="btn btn-primary">Site web</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>




<script>
    $(".btn-grey").click(function () {
        swal({
            title:"Réservation",
            html:'<div class="container"><div class="card card-container" style="width: 430px; height: 100%;padding: 20px;"><p><strong>'+data.classement+'</strong></p><p>'+data.adresse+'</p><p><strong>'+data.code_postal+'</strong></p></div></div>'
        });
    });
    $("#login").click(function () {
        swal({
            title: 'Connexion',
            html: '{{> popup_login}}',
            showCancelButton: false,
            showConfirmButton: false
        });
    });
    $("#signin").click(function () {
        swal({
            title: 'Inscription',
            html: '{{> popup_signin}}',
            showCancelButton: false,
            showConfirmButton: false
        });
    });
    $("#editProfile").click(function () {
        swal({
            title: 'Editer mon profil',
            html: '{{> popup_editProfile}}',
            showCancelButton: false,
            showConfirmButton: false
        });
    });
    $(".red-text").click(function () {

        $.ajax({
            url: '/detail',
            data: {
                id: $(this).attr("id")
            },
            dataType: 'json',
            success: function(data) {
                swal({
                   title:data.nom,
                    html:'<div class="container"><div class="card card-container" style="width: 430px; height: 100%;padding: 20px;"><p><strong>'+data.classement+'</strong></p><p>'+data.adresse+'</p><p><strong>'+data.code_postal+'</strong></p></div></div>'
                });

            },
            type: 'POST'
        });
    });
</script>